.ramadanMubarak {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: black;
  text-align: center;
  color: white;
}

.ramadanMubarakk-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.ramadanMubarakk-image {
  width: 1.5rem;
}
