.surahCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.1875rem;
  border-radius: 0.25rem;
  border: var(--border-style) var(--border-width) var(--border-color);
  transition: all 400ms ease;
}

.surahCard:hover {
  border-color: var(--primary);
}

.surahCard:hover .surahCard-numberShape {
  background-color: var(--primary);
  color: var(--white);
}

.surahCard:hover .surahCard-versesCount {
  color: var(--primary);
}

.surahCard:hover .surahCard-englishName {
  color: var(--primary);
}

.surahCard-left {
  display: flex;
  gap: 1.1875rem;
}

.surahCard-numberShape {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--highlight-bg);
  rotate: 45deg;
  transition: all 400ms ease;
}

.surahCard-number {
  rotate: -45deg;
  font-weight: bold;
}

.surahCard-names,
.surahCard-right {
  display: flex;
  flex-direction: column;
}

.surahCard-right {
  text-align: end;
}

.surahCard-simpleName {
  font-weight: bold;
}

.surahCard-englishName {
  font-weight: bold;
  color: rgb(119, 119, 119);
}

.surahCard-versesCount {
  color: rgb(119, 119, 119);
  font-weight: bold;
}
