.ayah {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  text-align: right;
}

.container {
  max-width: 58.25rem;
  margin-left: auto;
  margin-right: auto;
}

.ayah-text {
  font-family: var(--font-quran);
  font-size: 3rem;
}
