.surahGrid-container {
  display: grid;
  gap: 1rem;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .surahGrid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 1024px) {
  .surahGrid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
