.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--header-bg);
  transition: all 400ms ease;
  will-change: transform;
}

.header.visible {
  transform: translateY(0);
}

.header.hidden {
  transform: translateY(-100%);
}

.header-container {
  height: 3.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.header-logo {
  font-size: 1.3rem;
  font-weight: 500;
}

.header-logo-image {
  width: 2rem;
}
